@import '../styles/variables';
@import '../styles/mixins'; 

.home-container {
    background-image: url("/public/assets/home/background-home-desktop.jpg");
    height: 100%;
    width: 100vw;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    

    @include breakpoint-down(small) {
        background-image: url("/public/assets/home/background-home-mobile.jpg");
    }

    @include breakpoint-down(medium) {
        background-image: url("/public/assets/home/background-home-tablet.jpg");
        height: 100%;
    }
}


.home {
    @include flex-center();
    @include padding-r-l();
    padding-top: 300px;
    padding-bottom: 150px;
   
    
    @include breakpoint-down(large){
        padding-top: 250px;
        padding-bottom: 150px;
    }

    @include breakpoint-down(medium){
        flex-direction: column;
        justify-content: center;
        padding-top: 80px;
        padding-bottom:80px;
    }

    @include breakpoint-down(small) {
        padding-top: 50px;
    }

}
.home-body {
    color: white;
    width: 80%;

    @include breakpoint-down(medium) {
        @include flex-center();
        flex-direction: column;
        justify-content: center;
      
    }
    
      h3{
        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;
        
        @include breakpoint-down(medium) {
            font-size: 30px;           
        }
        @include breakpoint-down(medium) {
            font-size: 30px;           
        }
        @include breakpoint-down(small) {
            font-size: 16px;           
        }
      }
      h1{
        font-size: 180px;
        font-weight: 400;
        font-style: normal;
        padding-top: 20px 0px 35px;
        margin-bottom: 0;
        text-transform: uppercase;

        @include breakpoint-down(large) {
            font-size: 130px;
            padding-bottom: 20px;
        }

        @include breakpoint-down(medium) {
            font-size: 150px;
            padding: 18px 0px 20px;
        }

        @include breakpoint-down(small) {
            font-size: 100px;
            padding: 18px 0px 20px;
        }
      }
      p{
        font-size: 16px;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.5px;
        width: 65%;

        @include breakpoint-down(large) {
            width: 70%;
        }

        @include breakpoint-down(medium) {
            text-align: center;
            width: 74%;
        }
        @include breakpoint-down(small) {
            text-align: center;
            width: 95%;
        }
       
      }
}

.break {
    @include breakpoint-down(small) {
        display: none;
        
    }
}
.rounded-div {
    @include flex-center();
    justify-content:center;
    height: 290px;
    width: 290px;
    border-radius: 100%;
    background-color: white;

    h3 {
        font-weight: 400;
        font-size: 30px;

        @include breakpoint-down(small) {
            font-size: 25px;
        }
    }

    
    @include breakpoint-down(large) {
        margin-top: 40px;
        height: 230px;
        width: 230px;
    }
    @include breakpoint-down(medium) {
        margin-top: 40px;
        height: 250px;
        width: 250px;
    }
    @include breakpoint-down(small) {
        height: 150px;
        width: 150px;
        margin-top: 120px;
    }
}

